@import url(shared.css);

body {
    background-color: var(--background-color);
    transition: background-color ease 0.3s;
    font-family: "Merriweather", sans-serif;
}

/* #region Header */

.header { 
    color: var(--main-text-color);
    font-size: 0.75rem;
    padding-block: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}


/* #endregion Header */

/* #region now showing */

.NS__section {
    margin-inline-start: 1rem;
    margin-bottom: 2rem;
}

.NS__header {
    padding-inline-end: 1rem;
    padding-block-end: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NS__header h2 {
    color: var(--main-text-color);
}

.NS__list {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
}

.NS__list__item {
    font-family: "Mulish", sans-serif;
    width: 12rem;
    flex-shrink: 0;
}

.NS__list__item h3 {
    color: var(--secondary-text-color);
}

.NS__item__poster {
    min-width: 12rem;
    min-height: 18rem;
    object-fit: fill;
    border-radius: 0.5rem;
    box-shadow: 3px 5px 0.5rem rgba(41, 41, 41, 0.261);
}


/* #endregion Now Showing */

/* #region Popular */

.popular__list__item a {
    display: flex;
}

.popular__section {
    padding-inline: 1rem;
    margin-block-end: 7.5rem;
}

.popular__header {
    padding-block-end: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular__header h4 {
    font-size: 1.5rem;
    color: var(--main-text-color);
}

.popular__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.popular__list__item a {
    font-family: "Mulish", sans-serif;
    display: flex;
    gap: 1rem;
}

.popular__item__poster {
    max-width: 9rem;
    max-height: 18rem;
    object-fit: fill;
    border-radius: 0.5rem;
}

.popular__movie__div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.popular__title {
    color: var(--secondary-text-color);
    font-size: 1rem;
    max-width: 10rem;
}

/* #endregion popular */

/* #region Navigation */

.nav__wrapper{
    background-color: var(--background-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navigation__list {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

/* #endregion Navigation */

