:root {
    --background-color: light-dark(#FFFFFF, #000000);
    --main-text-color: light-dark(#110E47, #DBE3FF);
    --secondary-text-color: light-dark(#000000, #F0EFFA);
    --button-color: light-dark(#AAA9B1, #E5E4EA);
    --rating-text: #9C9C9C;

    --darkmode-circle: light-dark(#ffffff, #000000); 

    --genre-background: #DBE3FF;
    --genre-text: #88A4E8;
}


.seemore__button {
    padding-inline: 0.75rem;
    padding-block: 0.25rem;
    color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 1rem;
    font-weight: lighter;
}

.genre__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.genre {
    font-size: 0.75rem;
    font-weight: bold;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    background-color: var(--genre-background);
    color: var(--genre-text);
}

.rating {
    color: var(--rating-text);
    display: flex;
    gap: 0.3rem;
}

.rating img {
    width: 1rem;
}

body {
    background-color: var(--background-color);
    font-family: "Merriweather", sans-serif;
}

/* #region Header */

.header { 
    color: var(--main-text-color);
    font-size: 0.75rem;
    padding-block: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.header__button { /* jeg elsker w3 schools https://www.w3schools.com/howto/howto_css_switch.asp */
    position: absolute;
    right: 0;
    width: 60px;
    height: 2rem;
    margin-right: 1rem;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #AAA9B1;
    transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.65rem;
  width: 1.65rem;
  left: 0.2rem;
  bottom: 0.2rem;
  background-color: var(--darkmode-circle);
  transition: .4s;
}

input:checked + .slider {
  background-color: #FFFFFF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FFFFFF;
}

input:checked + .slider:before {
  transform: translateX(1.65rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* #endregion Header */

/* #region now showing */

.NS__section {
    margin-inline-start: 1rem;
}

.NS__header {
    padding-inline-end: 1rem;
    padding-block-end: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NS__header h2 {
    color: var(--main-text-color);
}

.NS__list {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
}

.NS__list__item {
    font-family: "Mulish", sans-serif;
    width: 12rem;
    flex-shrink: 0;
}

.NS__list__item h3 {
    color: var(--secondary-text-color);
}

.NS__item__poster {
    min-width: 12rem;
    min-height: 18rem;
    object-fit: fill;
    border-radius: 0.5rem;
    box-shadow: 3px 5px 0.5rem rgba(41, 41, 41, 0.261);
}


/* #endregion Now Showing */

/* #region Popular */

.popular__list__item a {
    display: flex;
}

.popular__section {
    padding-inline: 1rem;
    margin-block-end: 7.5rem;
}

.popular__header {
    padding-block-end: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular__header h4 {
    font-size: 1.5rem;
    color: var(--main-text-color);
}

.popular__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.popular__list__item a {
    font-family: "Mulish", sans-serif;
    display: flex;
    gap: 1rem;
}

.popular__item__poster {
    max-width: 9rem;
    max-height: 18rem;
    object-fit: fill;
    border-radius: 0.5rem;
}

.popular__movie__div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.popular__title {
    color: var(--secondary-text-color);
    font-size: 1rem;
    max-width: 10rem;
}

/* #endregion popular */

/* #region Navigation */

.nav__wrapper{
    border-top: 1px solid var(--main-text-color);
    background-color: var(--background-color);
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.navigation__list {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

